<%= form_for [:admin, @product] do |f| %>
  <p>
    <%= f.text_field :name, required: true, class: 'w3-input' %>
    <%= f.label :name %>
  </p>
  <p>
    <%= f.number_field :price, step: 1, class: 'w3-input' %>
    <%= f.label :price, required: true %>
  </p>
  <p>
    <%= f.file_field :images, multiple: true, accept: 'image/*', class: 'w3-input' %>
  </p>
  <%= f.submit class: default_button_class %>
<% end %>
