<h2> Products </h2>
<p>
  <%= button_to('New product', new_admin_product_path, method: :get, class: default_button_class) %>
</p>
<table class="w3-table-all">
  <thead>
    <tr class="w3-grey">
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to(product.name, admin_product_path(product)) %></td>
        <td><%= product.price %></td>
        <% image = product_image(product) %>
        <td><%= image_tag(image) if image %></td>
    <% end %>
  </tbody>
</table>

<div class="w3-center">
  <%= paginate(@products) %>
  <%= page_entries_info(@products) %>
</div>
