<p>
  <strong>Name: </strong><%= @product.name %>
</p>

<p>
  <strong>Price: </strong><%= @product.price %>
</p>

<%= form_for [:admin, @product] do |f| %>
  <p>
    <%= f.file_field :images, multiple: true, direct_upload: true, accept: 'image/*' %>
    <%= f.submit 'Add image', class: default_button_class %>
  </p>
<% end %>

<ul>
  <% @product.images.each do |image| %>
    <li>
      <%= image_tag(image.variant(resize: product_image_default_size)) %>
    </li>
  <% end %>
</ul>

<%= link_to('Edit', edit_admin_product_path(@product)) %> |
<%= link_to('Back', admin_products_path) %>
